body{
  margin: 0;
  padding: 0;
  background-color: #1e2229;
}


.container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  margin: auto;
}

.menu img{
width: 150px;
left: 0;
  top: 0;

}

/*para dar lo ancho de la cabecera*/
.header{
  left: 0;
  top: 0;
  width: 84%;
  margin: auto;
  height: 10%;
  background-color:#bea56c;
  border-color:white;
  border-width: 6px;
  border-style: solid;
 
  
 }

 .header .logo {
  display: flex;
  width: 20%;
  margin: auto;
  align-items: center;
 }
 

 

.boton-wa{
position: fixed;
width: 10px;
height: 55px;
bottom: 30px;
right: 0px;
width: 8%;
display: block; 
padding: 0.05rem 1rem; 
margin:0;
text-align: center;


} 

/*codigo para espaciado entre cabeza y main*/
main{
  padding-top: 5rem;
  width: 90%;
  margin: auto;


}

aside{
  width: 20%;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}
.contenedor{
  width: 30%;
  

  
}
img{
 width: 100%;
}

  .personas .contenedor{
  display: grid;

  /*grid-template-columns: repeat(4, 1fr);*/
  grid-template-columns: repeat(auto-fill, minmax(250px,0fr));
  background-color: #1e2229;
  width: 93%;
  height: 100%;
  justify-content: center;
  justify-items: center;
  margin:auto;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid #ffffff;
  
 }
 .persona__columna{
  margin: 1px;
  width: 180%;
  margin:auto;



}
#fondo{
  display:block;
  border-radius: 1px;
  border-color: 8px #fff;
  margin:auto;
 }

 #fondo .b1{

   display:flex;
   width: 160px;
   height: 20px;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #bca768;
   font-weight: 700;
   border-radius: 10px;
   align-items: center;
   padding: 15px 30px;
   color: #fff;
   text-decoration: none;
 
 }

 #fondo .b1:hover{
background-color: rgb(20, 19, 19);


  
}

 

 .center{
    display: flex;
    justify-content: center;
    font-weight: 700;
    border-radius: 10px;
    padding-inline: 15px 30px;
    
    
 }


 .slider{
  display: grid;
  width: 85%;
  height: 70px;
  margin: auto;
  background-color: aqua;
 }
 
 .slider ul{
  padding: 0;
 }

 .slider li{
  list-style: none;
 }

 .slider img{
he
 }


